.cim{
    height: 101px;
    width: 510px;
    left: 45px;
    top: 85px;
    border-radius: nullpx;
    font-family: Wellfleet;
    Font-style: Regular;
    Font-size: 48px;
    Line-height: 60px;
    Line-height: 100%;
    text-Align: Center;
    Vertical-align: Bottom;
    Letter-spacing: -2%;
}
.p{
    height: 77px;
    width: 255px;
    left: 153px;
    top: 370px;
    border-radius: nullpx;
    Font-family: Wellfleet;
    Font-style: Regular;
    Font-size: 36px;
    Line-height: 45px;
    Line-height: 100%;
    text-Align: Center;
    Vertical-align: Bottom;
    Letter-spacing: -2%;
    
}
.pp{
    font-family: Wellfleet;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: left;
    Font-family: Wellfleet;
    Font-style: Regular;
    Font-size: 24px;
    Line-height: 30px;
    Line-height: 100%;
    text-Align: Left;
    Vertical-align: Bottom;
    Letter-spacing: 6%;
    /* Paragraph-spacing: 7px; */

}
.fulek{

}